<table align="center">
    <Form asp-action="CreateRep">
    <tr>
        <td>No.Cuenta</td>
        <td><input type="text" name="Account"></td>
    </tr>
    <tr>
        <td>Descripcion del incidente</td>
        <td><textarea type="text" style="width:125px" name="Description"></textarea></td>
    </tr>
    <tr>
        <td colspan="2">
            <button type="submit" class="btn-primary">Guardar Reporte</button>
        </td>
    </tr>
    </Form>
</table>