<table align="center">
    <tr>
        <td>Alumno: </td>

    </tr>
</table>
<table width="100%">
    <thead>
    <tr>
        <td>
            No. Incidencia
        </td>
        <td>
            Incidencia
        </td>
        <td>
            Fecha
        </td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            1
        </td>
        <td>
            Llegó en estado Acoholico
        </td>
        <td>
            28/02/2023
        </td>
    </tr>
    </tbody>
</table>
